<!DOCTYPE html>
<html lang="en" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title><%= node['bcpc']['region_name'] %> - <%= node['bcpc']['management']['vip'] %> - BCPC</title>
	</head>
	<body>
		<style>
			body{
				font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
			}
			p.version {
			        font-style: italic;
			}
			div.block{
				overflow:hidden;
			}
			div.block label{
				width:160px;
				display:block;
				float:left;
				text-align:right;
				padding-right:8px;
			}
			div.block .a{
				margin-left:4px;
				float:left;
			}
			table {
			    border: 1px solid black;
			    border-spacing: 0px;
			}
			th {
			    border: 1px solid black;
			    padding: 4px;
			}
			td {
			    border: 1px solid black;
			    padding: 4px;
			}
		</style>

		<h2><%= node['bcpc']['region_name'] %> - openstack.<%= node['bcpc']['cluster_domain'] %> (<%= node['bcpc']['management']['vip'] %>)</h2>
		<p class="version">BCPC cookbook <%= @cookbook_version %> (<%= node['bcpc']['openstack_release'] %>-<%= node['bcpc']['openstack_branch'] %>)</p>

		<h3>Web Interfaces</h3>
        <table>
            <tr>
                <th>Resource</th>
                <th>URL</th>
                <th>IP-based URL (deprecated)</th>
            </tr>
            <tr>
                <td><em>OpenStack<em></td>
                <td><a href="https://openstack.<%= node['bcpc']['cluster_domain'] %>/horizon">https://openstack.<%= node['bcpc']['cluster_domain'] %>/horizon</a></td>
                <td><a href="https://<%= node['bcpc']['management']['vip'] %>/horizon">https://<%= node['bcpc']['management']['vip'] %>/horizon</a></td>
            </tr>
            <tr>
                <td><em>HAProxy</em></td>
                <td><a href="https://openstack.<%= node['bcpc']['cluster_domain'] %>/haproxy">https://openstack.<%= node['bcpc']['cluster_domain'] %>/haproxy</a></td>
                <td><a href="https://<%= node['bcpc']['management']['vip'] %>/haproxy">https://<%= node['bcpc']['management']['vip'] %>/haproxy</a></td>
            </tr>
            <tr>
                <td><em>RabbitMQ</em></td>
                <td><a href="https://openstack.<%= node['bcpc']['cluster_domain'] %>/rabbitmq/">https://openstack.<%= node['bcpc']['cluster_domain'] %>/rabbitmq/</a></td>
                <td><a href="https://<%= node['bcpc']['management']['vip'] %>/rabbitmq/">https://<%= node['bcpc']['management']['vip'] %>/rabbitmq/</a></td>
            </tr>
            <tr>
                <td><em>Elasticsearch</em></td>
                <td>---</td>
                <td><a href="http://<%= node['bcpc']['monitoring']['vip'] %>:9200/_plugin/head/">http://<%= node['bcpc']['monitoring']['vip'] %>:9200/_plugin/head/</a></td>
            </tr>
            <tr>
                <td><em>Kibana</em></td>
                <td><a href="https://<%= node['bcpc']['kibana']['fqdn'] %>">https://<%= node['bcpc']['kibana']['fqdn'] %></a></td>
                <td><a href="https://<%= node['bcpc']['monitoring']['vip'] %>/kibana/">https://<%= node['bcpc']['monitoring']['vip'] %>/kibana/</a></td>
            </tr>
            <tr>
                <td><em>Graphite</em></td>
                <td><a href="https://<%= node['bcpc']['graphite']['fqdn'] %>">https://<%= node['bcpc']['graphite']['fqdn'] %></a></td>
                <td><a href="https://<%= node['bcpc']['monitoring']['vip'] %>:8888">https://<%= node['bcpc']['monitoring']['vip'] %>:8888</a></td>
            </tr>
            <tr>
                <td><em>Zabbix</em></td>
                <td><a href="https://<%= node['bcpc']['zabbix']['fqdn'] %>">https://<%= node['bcpc']['zabbix']['fqdn'] %></a></td>
                <td><a href="https://<%= node['bcpc']['monitoring']['vip'] %>/zabbix/">https://<%= node['bcpc']['monitoring']['vip'] %>/zabbix/</a></td>
        </tr>
            <tr>
              <td><em>PDNS</em></td>
              <td> - </td>
              <td><a href="http://<%= node['bcpc']['management']['vip'] %>:8081">http://<%= node['bcpc']['management']['vip'] %>:8081</a></td>
	    </tr>
        </table>

		<h3>API Endpoints</h3>

    <p>For API endpoint information, please consult the Service Endpoint list in OpenStack Horizon under <strong>Project > Compute > Access & Security > API Access</strong>.

		<h3>SSL Certificate</h3>
        <code>
            <%= get_config('ssl-certificate').gsub(/\n/, '<br/>') %>
        </code>

        <% if node['bcpc']['ssl_intermediate_certificate'] %>
        <h3>SSL CA certificate</h3>
        <code>
            <%= get_config('ssl-intermediate-certificate').gsub(/\n/, '<br/>') %>
        </code>
        <% end %>
	</body>
</html>
